name: pull_request_check
on:
  pull_request:
    branches:
      - main
      - dev
      - hotfix/**
jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Use Node.js 22.x
        uses: actions/setup-node@v6
        with:
          node-version: 24.11.1
      - name: npm install
        run: npm ci --legacy-peer-deps
        env:
          CI: true
      - name: check
        run: npm run check
        env:
          CI: true
