name: GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-22.04
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "16"

      - run: npm ci
      - run: echo -e ${{ secrets.FIREBASE_ENV_SETTINGS_BASE64 }} | base64 -d > ./packages/react-vite/.env
      - run: npm run build
      - run: cp ./packages/react-vite/dist/index.html ./packages/react-vite/dist/404.html

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        if: ${{ github.ref == 'refs/heads/main' }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./packages/react-vite/dist
